
.form {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-gap: 20px;
}

@media (max-width: 767px) {
    .form {
        display: grid;
        grid-template-columns: 1fr;
        width: 100%;
    }
}

.form__input {
    padding: 8px;
    border: 1px solid rgb(156, 156, 156);  
}

.form__addNewTaskButton {
    background-color: teal;
    border: none;
    color: white;
    padding: 10px;
   
}

.form__addNewTaskButton:hover {
    background-color: hsl(180, 100%, 30%);
}

.form__addNewTaskButton:active {
    background-color: hsl(180, 100%, 35%);
}