.section {
    background-color: rgb(252, 252, 252);
    max-width: 800px;
    width: 100%;
    margin: 0px 8px;
}

@media (max-width: 767px) {
    .section {
        max-width: 400px;
    }
}

.section__heading {
    font-size: 20px;
    padding: 20px;
    border-bottom: 1px solid  hsl(0, 2%, 81%);
}

.section__main {
    padding: 10px 10px 20px 20px;
}


