.tasks {
    list-style: none;
    padding: 0;
    margin: 0;
}

.tasks__item {
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-gap: 10px;
    align-items: center;
    border-bottom: 1px solid hsl(0, 2%, 81%);
    padding: 10px;

}

.tasks__item--hidden {
    display: none;
}

.tasks__content--done {
    text-decoration: line-through;
}

.tasks__doneButton {
    border: none;
    width: 30px;
    height: 30px;
    background-color: green;
    color: white;
}

.tasks__removeButton {
    border: none;
    width: 30px;
    height: 30px;
    background-color: red;
    color: white;
}